# Utilizar o mlflow para ler o modelo Neural Networks

Neste notebook vamos utilizar o modelo que registamos no notebook rumos_bank_lending_prediction_neural_networks para fazer previsões.

In [1]:
import mlflow
import pandas as pd

c:\Users\asus\miniconda3\envs\rumos-class-oml\lib\site-packages\pydantic\_internal\_fields.py:128: UserWarning: Field "model_server_url" has conflict with protected namespace "model_".

You may be able to resolve this warning by setting `model_config['protected_namespaces'] = ()`.
  warnings.warn(
c:\Users\asus\miniconda3\envs\rumos-class-oml\lib\site-packages\pydantic\_internal\_config.py:317: UserWarning: Valid config keys have changed in V2:
* 'schema_extra' has been renamed to 'json_schema_extra'
  warnings.warn(message, UserWarning)

In [2]:
# Set the tracking URI to the SQLite database where the MLflow runs are stored
mlflow.set_tracking_uri("sqlite:///../../mlruns/mlflow.db")

#### Test Neural Networks Model

In [3]:
# Define the name and version of the model "neural_networks"
model_name = "neural_networks"
model_version = 1
# Load the model using mlflow.pyfunc.load_model
model = mlflow.pyfunc.load_model(
    model_uri=f"models:/{model_name}/{model_version}"
)

In [4]:
# Specify the path to the data file
data_path = 'lending_test.csv'
# Read the data from the CSV file into a Pandas DataFrame
df = pd.read_csv(data_path)

In [5]:
# Select rows from the DataFrame where 'default.payment.next.month' is equal to 1,
# then randomly sample one row from the resulting DataFrame,
# and drop the column 'default.payment.next.month' from the selected row
input_data = df.loc[df['default.payment.next.month'] == 1].sample(1).drop("default.payment.next.month", axis=1)

In [6]:
input_data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
5001,20000.0,2,2,1,46,1,2,2,2,0,...,13169.0,13656.0,14430.0,14200.0,1000.0,1900.0,1000.0,1000.0,0.0,8119.0

In [7]:
# Use the model to make predictions on the input data
model.predict(data=input_data)

array([1], dtype=int64)

In [8]:
# Select rows from the DataFrame where 'default.payment.next.month' is equal to 0,
# then randomly sample one row from the resulting DataFrame,
# and drop the column 'default.payment.next.month' from the selected row
input_data = df.loc[df['default.payment.next.month'] == 0].sample(1).drop("default.payment.next.month", axis=1)

In [9]:
input_data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
101,210000.0,2,3,1,32,0,0,-1,0,0,...,712.0,1025.0,4584.0,0.0,0.0,712.0,1000.0,4000.0,0.0,821.0

In [10]:
# Use the model to make predictions on the input data
model.predict(data=input_data)

array([0], dtype=int64)